@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
  letter-spacing: 1.5px;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "微軟正黑體", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #6c6c6c;
}

.menu-link {
  margin-bottom: 1rem;
}

.menu-link a {
  color: black;
}
