@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;300;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
  letter-spacing: 1.5px;
}

body {
  margin: 0;
  /* font-family: "Muli", -apple-system, BlinkMacSystemFont, "微軟正黑體", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "Lato", "微軟雅黑體", -apple-system, "Microsoft JhengHei", 微軟正黑體, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #6c6c6c;
}

.menu-link {
  margin-bottom: 1rem;
}

.menu-link a {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

input {
  appearance: none;
  border-radius: 0;
  padding: 1rem;
  border: 1px solid #1a1a1a;
  outline: 0;
}

.main-ob1 {
  width: 100%;
  height: 100vh;
  background: #000104;
  color: #3ecc43;
  position: relative;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.title {
  max-width: 990px;
  padding: 112px 15px 0 15px;
  margin: 0 auto;
  font-size: 64px;
  animation: dropdown 1.5s forwards;
}

@media (max-width: 767px) {
  .title {
    font-size: 48px;
  }
}

.move-down {
  font-size: 16px;
  text-align: center;
  background: #242424;
  color: #f9f9f9;
}

.swiper-wrap {
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
}

.swiper-wrap .swiper-pagination {
  position: relative;
  width: 100%;
}

.swiper-wrap .swiper-container {
  width: 90%;
  margin: 0 auto;
}

.swiper-wrap .swiper-button-next,
.swiper-wrap .swiper-button-prev {
  background: #000000;
  z-index: 99;
}

.fetch-button {
  background-color: #242424;
  color: #ffffff;
  padding: 12px;
  min-width: 200px;
  border: 0;
  outline: 0;
  margin: 12px 0;
  cursor: pointer;
}

.fetch-button:hover {
  opacity: 0.9;
}

.fetch-id,
.fetch-url {
  font-size: 26px;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .fetch-id,
  .fetch-url {
    font-size: 13px;
    margin-bottom: 16px;
  }
}

.loading-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 99;
  opacity: 0.5;
}

.loading-content img {
  max-width: 135px;
}
